<%= form_with model: article, local: true do |f| %>
  <% if article.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-title"><%= pluralize(article.errors.count, "error") %></h4>
      <ul class="mb-0">
        <% article.errors.full_messages.each { |m| %><li><%= m %></li><% } %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :title, class: "form-label required" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :body, class: "form-label" %>
    <%= f.text_area :body, rows: 8, class: "form-control" %>
  </div>
  <div class="btn-list">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", articles_path, class: "btn" %>
  </div>
<% end %>
