<%= form_with model: post, local: true, html: { class: "space-y-6" } do |f| %>
  <% if post.errors.any? %>
    <div class="alert" role="alert" data-variant="destructive">
      <i class="ti ti-alert-circle"></i>
      <h2><%= pluralize(post.errors.count, "error") %></h2>
      <section>
        <ul>
          <% post.errors.full_messages.each { |m| %><li><%= m %></li><% } %>
        </ul>
      </section>
    </div>
  <% end %>
  <div role="group" class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "input" %>
  </div>
  <div role="group" class="field">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 10, class: "textarea" %>
  </div>
  <div class="flex flex-wrap gap-2">
    <%= f.submit class: "btn" %>
    <%= link_to "Cancel", posts_path, class: "btn", data: { variant: "outline" } %>
  </div>
<% end %>
