<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NodeDB On Rails</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css"
          integrity="sha384-kz+I4+mczbNiZfLAJMxOlJaZmnbRYhARHNkR2k6tal4gz7OL33/0puDD3SvkiNX9"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.34.1/dist/tabler-icons.min.css"
          integrity="sha384-0qlw5FfXiK9KETSJ39fi9FNuVP+qL9XLrBRZzKDD9J0YGvIoZ/r9I/EmZDcoYwEq"
          crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/js/tabler.min.js"
            integrity="sha384-pku3birjgGovaJ9ngF7SaxKkF/eYUvBjiMJ+jTtWbNesIj2Rud2K63+4JD7EF4gk"
            crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="page">
      <aside class="navbar navbar-vertical navbar-expand-lg navbar-transparent">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button"
                  data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
                  aria-controls="sidebar-menu" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark">
            <%= link_to root_path, class: "d-flex align-items-center text-reset text-decoration-none" do %>
              <i class="ti ti-database me-2 text-primary"></i>
              <span>NodeDB On Rails</span>
              <span class="badge bg-yellow-lt ms-2">alpha</span>
            <% end %>
          </h1>

          <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
              <% [
                ["articles",  articles_path,      "ti-files",            "Articles"],
                ["posts",     posts_path,         "ti-search",           "Posts (FTS)"],
                ["locations", locations_path,     "ti-map-pin",          "Locations & Map"],
                ["social",    social_nodes_path,  "ti-affiliate",        "Social Graph"],
                ["metrics",   metrics_path,       "ti-chart-line",       "Timeseries"],
                ["vectors",   embeddings_path,    "ti-vector-triangle",  "Vector search"],
                ["kv",        kv_sessions_path,   "ti-key",              "KV Store"],
                ["audit",     audit_logs_path,    "ti-clock-hour-3",     "Audit (bitemporal)"],
                ["info",      server_info_path,   "ti-server",           "Server info"]
              ].each do |slug, path, icon, label| %>
                <% active = current_page?(path) || (slug == "social" && controller_name == "social_nodes") %>
                <li class="nav-item <%= 'active' if active %>">
                  <%= link_to path, class: "nav-link" do %>
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="ti <%= icon %>"></i>
                    </span>
                    <span class="nav-link-title"><%= label %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>

            <div class="mt-auto pt-3 px-3 small text-secondary d-none d-lg-block">
              Rails <%= Rails.version %><br>
              Ruby <%= RUBY_VERSION %><br>
              <a href="https://github.com/mkhairi/activerecord-nodedb-adapter"
                 class="link-secondary">github</a>
            </div>
          </div>
        </div>
      </aside>

      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
            <% flash.each do |key, msg| %>
              <% color = { "notice" => "success", "alert" => "warning" }[key.to_s] || "info" %>
              <div class="alert alert-<%= color %> alert-dismissible" role="alert">
                <div class="d-flex">
                  <div><i class="ti <%= color == 'success' ? 'ti-check' : 'ti-alert-circle' %> me-2"></i></div>
                  <div><%= msg %></div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>

        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    <a href="https://github.com/mkhairi/activerecord-nodedb-adapter"
                       class="link-secondary">activerecord-nodedb-adapter</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/mkhairi/nodedb-ruby"
                       class="link-secondary">nodedb-ruby</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/mkhairi/nodedb-on-rails"
                       class="link-secondary">nodedb-on-rails</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
